* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

title {
  display: none; }

header {
  border-bottom: 1px solid black; }
  header #headerLogo {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #696969;
    width: 20vw;
    margin: 10px 0 10px 30px;
    display: inline-block;
    clear: both; }
  header a {
    text-decoration: none;
    color: #808080;
    font-size: 16px;
    margin: 20px 30px 0 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    float: right; }
  header button#callButton {
    float: right;
    display: inline-block;
    color: #4f4f4f;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #4f4f4f;
    margin: 10px 40px 0 20px;
    font-size: 16px; }

h2#title {
  text-align: center;
  color: #4f4f4f;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px; }

button#search {
  color: #4f4f4f;
  border-radius: 10px;
  padding: 11px 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #4f4f4f;
  margin: 4px 0 0 10px;
  font-size: 16px;
  text-height: 0px;
  float: left; }

input#searchBar {
  border-radius: 10px;
  border: 1px solid #4f4f4f;
  font-size: 24px;
  width: 700px;
  padding: 7px 7px 3px 7px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 5px 0 0 17vw;
  float: left; }
  input#searchBar:focus {
    box-shadow: 0 0 0 2px #ADD8E6; }

label#searchInst {
  font-family: 'Roboto', sans-serif;
  margin: 30px 0 0 18vw;
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 300;
  float: left;
  display: inline-block; }

ul#errorBox {
  color: red;
  border: 1px solid black;
  width: 300px;
  margin-left: 38.5vw;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 10px; }
  ul#errorBox li.error {
    list-style-type: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 30px; }
    ul#errorBox li.error::before {
      display: inline-block;
      content: "";
      border-top: 2px solid red;
      width: 10px;
      margin: 0 5px 5px 0; }
    ul#errorBox li.error#tooManyTermsErr {
      line-height: normal;
      text-align: left;
      padding-left: 15px; }

div.triangleDown {
  position: relative;
  margin-left: 48.5vw;
  margin-bottom: 6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000000; }
  div.triangleDown::after {
    content: '';
    position: absolute;
    left: -6.5px;
    top: -8.5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #FFFFFF;
    clear: both; }
